<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="../css/settings.css">
</head>

<body>
  <H1>設定ページ</H1>
  <a id='return' href="/">戻る</a>
  <form>
    <div class="setting_line">
      <label for="USER_ORGAN" class="label_setting">ユーザー所属</label>
      <input name="USER_ORGAN" type="text" value="<%= data.env.USER_ORGAN %>" />
    </div class="setting_line">
    <div class="setting_line">
      <label for="USER_NAME" class="label_setting">ユーザー名</label>
      <input name="USER_NAME" type="text" value="<%= data.env.USER_NAME %>" />
    </div class="setting_line">
    <br>
    <div class="setting_line">
      <label for="GEMINI_API_KEY" class="label_setting">GEMINI_API_KEY</label>
      <input name="GEMINI_API_KEY" type="text" value="<%= data.env.GEMINI_API_KEY %>" />
    </div>
    <div class="setting_line">
      <label for="GEMINI_MODEL" class="label_setting">GEMINI_MODEL</label>
      <input name="GEMINI_MODEL" type="text" value="<%= data.env.GEMINI_MODEL %>" />
    </div>
    <div class="setting_line">
      <label for="GEMINI_TEMPERATURE" class="label_setting">GEMINI_TEMPERATURE</label>
      <input name="GEMINI_TEMPERATURE" type="text" value="<%= data.env.GEMINI_TEMPERATURE %>" />
    </div>
    <div class="setting_line">
      <label for="GEMINI_MAX_OUTPUT_TOKENS" class="label_setting">GEMINI_MAX_OUTPUT_TOKENS</label>
      <input name="GEMINI_MAX_OUTPUT_TOKENS" type="text" value="<%= data.env.GEMINI_MAX_OUTPUT_TOKENS %>" />
    </div>
    <div class="setting_line">
      <label for="GEMINI_TOP_P" class="label_setting">GEMINI_TOP_P</label>
      <input name="GEMINI_TOP_P" type="text" value="<%= data.env.GEMINI_TOP_P %>" />
    </div>
    <div class="setting_line">
      <label for="GEMINI_TOP_K" class="label_setting">GEMINI_TOP_K</label>
      <input name="GEMINI_TOP_K" type="text" value="<%= data.env.GEMINI_TOP_K %>" />
    </div>
    <br>
    <div class="setting_line">
      <label for="USE_SEARCH_RESULT" class="label_setting">USE_SEARCH_RESULT</label>
      <input name="USE_SEARCH_RESULT" type="text" value="<%= data.env.USE_SEARCH_RESULT %>" />
    </div>
    <div class="setting_line">
      <label for="GOOGLE_API_KEY" class="label_setting">GOOGLE_API_KEY</label>
      <input name="GOOGLE_API_KEY" type="text" value="<%= data.env.GOOGLE_API_KEY %>" />
    </div>
    <div class="setting_line">
      <label for="GOOGLE_CSE_ID" class="label_setting">GOOGLE_CSE_ID</label>
      <input name="GOOGLE_CSE_ID" type="text" value="<%= data.env.GOOGLE_CSE_ID %>" />
    </div>
    <br>
    <div class="setting_line">
      <label for="DEV_CONSOLE_MODE" class="label_setting">DEV_CONSOLE_MODE</label>
      <input name="DEV_CONSOLE_MODE" type="text" value="<%= data.env.DEV_CONSOLE_MODE %>" />
    </div>
    <div class="setting_line">
      <label for="HISTORY_DIR" class="label_setting">HISTORY_DIR</label>
      <input name="HISTORY_DIR" type="text" value="<%= data.env.HISTORY_DIR %>" />
    </div>
    <div class="setting_line">
      <label for="HISTORY_LIMIT" class="label_setting">HISTORY_LIMIT</label>
      <input name="HISTORY_LIMIT" type="text" value="<%= data.env.HISTORY_LIMIT %>" />
    </div class="setting_line">
    <div class="setting_line">
      <label for="DARK_MODE" class="label_setting">DARK_MODE</label>
      <input name="DARK_MODE" type="text" value="<%= data.env.DARK_MODE %>" />
    </div class="setting_line">
    <br>
    <div class="setting_line">
      <label for="PERSONALITY" class="label_setting">PERSONALITY</label>
      <input name="PERSONALITY" type="text" value="<%= data.env.PERSONALITY %>" />
    </div class="setting_line">
    <div class="setting_line">
      <label for="LANG" class="label_setting">LANG</label>
      <input name="LANG" type="text" value="<%= data.env.LANG %>" />
    </div class="setting_line">
    <div>
      <button type="submit">保存</button>
    </div>
  </form>
  <p style="display:block;padding: 1em 2em;">
    GEMINI_API_KEYに、Gemini API キーを入力してください。<br>
    Gemini API キーは <a href="https://aistudio.google.com/app/prompts/new_freeform" target="_blank">ここ</a> から取得します。<br>
    取得に先立ってGoogle のアカウントが必要なので、アカウントがない場合は事前に作成してください。
  </p>
  <p style="display:block;padding: 1em 2em;">
    各値を入力したら、保存をクリックした後、メニューのファイルから再起動してください。
  </p>
  <script>
    document.getElementById('return').addEventListener('click', (event) => {
      event.preventDefault();
      electron.send('change-page', { page: 'index' });
    });

    document.querySelector('form').addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      const formDataObject = Object.fromEntries(formData);
      electron.send('save-settings', formDataObject);
    });
  </script>
</body>

</html>