<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="preload" href="<%= dirname %>/assets/PretendardJP-Regular.otf" as="font">
  <link rel="preload" href="<%= dirname %>/assets/PretendardJP-Bold.otf" as="font">
  <link rel="stylesheet" href="<%= dirname%>/css/settings.css">
</head>

<body>
  <H1><%- __('Setting Page')%></H1>
  <a id='return' href="/"><%- __('Back')%></a>
  <p style="display:block;padding: 1em 2em;"><%- __(`Please enter and save your Gemini API key to use the app. <br>You can get your Gemini API key <a href='https://aistudio.google.com/app/prompts/new_freeform' target='_blank'>here</a>. <br>You will need a Google account before you can get it, so please create one in advance if you don't have one.`) %></p>
  <form>
    <% for(let envParam of envParams){ %>
      <% if(envParam.param_name.startsWith('LABEL')){ %>
        <div class="setting_line">
          <h3><%- __(envParam.label) %></h3>
        </div>
      <% } else { %>
          <div class="setting_line">
            <label for="<%= envParam.param_name %>" class="label_setting"><%- __(envParam.label) %></label>
            <input name="<%= envParam.param_name %>" type="text" value="<%= envParam.param_value %>" />
          </div>
      <% } %>
    <% } %>
    <div>
      <button type="submit"><%- __('Save') %></button>
    </div>
  </form>

  <script>
    document.getElementById('return').addEventListener('click', (event) => {
      event.preventDefault();
      window.electron.send('change-page', { page: 'index' });
    });

    document.querySelector('form').addEventListener('submit', async (event) => {
      event.preventDefault();
      const formData = new FormData(event.target);
      const formDataObject = Object.fromEntries(formData);
      window.electron.send('save-settings', formDataObject);
    });
  </script>
</body>

</html>